* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.9);
}
button {
    color: @theme_fg_color;
	background-color: @theme_bg_color;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
}

button:focus, button:active, button:hover {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/assets/lock.svg"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/assets/logout.svg"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/assets/suspend.svg"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/assets/hibernate.svg"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/assets/shutdown.svg"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/assets/reboot.svg"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#cat {
	background-image: image(url("./icons/pleading.png"));
}